<nav class="navbar navbar-dark bg-dark fixed-top">

     <a class="nav-item" >
       <%= link_to 'Home', companies_path %>
     </a>
     <a class="nav-item">
       <%= link_to 'New', new_company_path %>
     </a>
     <a class="nav-item">
       <%= link_to 'Area', new_area_path %>
     </a>


</nav>
